doctype html
html
  head
  a(href="/") Return to the homepage
    title= title
  body
    h1= title
    form(action="/form" method="post")
      div
        label(for="nome") Nome:
        input(type="text" name="nome" id="nome" required)
      div
        label(for="type") Type:
        input(type="text" name="type" id="type" required)
      div
        label(for="price") Price:
        input(type="number" name="price" id="price" step="0.01" required)
      button(type="submit") Submit
