doctype html
html
  head
    title= title
    style.
      body {
        font-family: Arial, sans-serif;
        margin: 20px;
        padding: 0;
        background-color: #f4f4f9;
        color: #333;
      }

      h1 {
        text-align: center;
        color: #4CAF50;
      }

      a {
        display: block;
        text-align: center;
        margin: 20px auto;
        width: 200px;
        padding: 10px 15px;
        color: #fff;
        background-color: #4CAF50;
        text-decoration: none;
        font-weight: bold;
        border-radius: 5px;
        transition: background-color 0.3s ease;
      }

      a:hover {
        background-color: #45a049;
      }

      form {
        width: 60%;
        margin: 20px auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }

      div {
        margin-bottom: 15px;
      }

      label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        color: #333;
      }

      input {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-sizing: border-box;
      }

      button {
        display: block;
        width: 100%;
        padding: 10px 15px;
        background-color: #4CAF50;
        color: white;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      button:hover {
        background-color: #45a049;
      }
  body
    a(href="/") Return to the homepage
    h1= title
    form(action="/form" method="post")
      div
        label(for="nome") Nome:
        input(type="text" name="nome" id="nome" required)
      div
        label(for="type") Type:
        input(type="text" name="type" id="type" required)
      div
        label(for="price") Price:
        input(type="number" name="price" id="price" step="0.01" required)
      button(type="submit") Submit
